.my-row{
	margin-top: 4em;
}
.title-error{
	margin: 0;
}	
.subtitle-error{
	padding-bottom: 3.3em;
	padding-top: 0.6em;
	margin: 0;
}
.content-error{
	padding-top: 1.8em;
	margin: 0;
}

/* MEDIA QUERY */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 10px) {
	.title-error{
		font-size: 3rem;
	}	
	.subtitle-error{
		font-size: 1.68rem;
	}
	.content-error{
		font-size: 1.5rem;
	}
	.cube{
		width: 9em;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.title-error{
		font-size: 4rem;		
	}
	.subtitle-error{
		font-size: 2.24rem;
	}
	.content-error{
		font-size: 2rem;
	}
	.cube{
		width: 11em;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.title-error{
		font-size: 5rem;	
	}
	.subtitle-error{
		font-size: 2.8rem;
	}
	.content-error{
		font-size: 2.5rem;
	}
	.cube{
		width: 12em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.title-error{
		font-size: 5rem;
	}
	.subtitle-error{
		font-size: 2.8rem;
	}
	.content-error{
		font-size: 2.5rem;
	}
	.cube{
		width: 12em;
	}
}

/* Very Large devices (desktops, 1120px and up)*/
@media (min-width: 1120px) {				
	.title-error{
		font-size: 5rem;	
	}
	.subtitle-error{
		font-size: 2.8rem;
	}
	.content-error{
		font-size: 2.5rem;
	}
	.cube{
		width: 12em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.title-error{
		font-size: 5rem;		
	}
	.subtitle-error{
		font-size: 2.8rem;
	}
	.content-error{
		font-size: 2.5rem;
	}
	.cube{
		width: 12em;
	}
}