.propic{
	border-style: solid;
	border-color:#212121;
	width: 50vw;
}
.my-card{
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 4em;
	padding: 1em;
}
.my-card-element{
	margin: 0;
	margin-bottom: 15pt;
}
.footer{
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;
}
.social-btn{
	margin: 2em;
}
.my-row{
	margin-bottom: 0;
}
.hrule{
	margin-bottom: 2em;
	margin-top: 0;
}
.my-project-btn{
	margin:1em 2em 2em 2em;
}

/* MEDIA QUERY */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 10px) {
	.title{
		padding-top: 0.6em;
		font-size: 3rem;
		margin: 0;
	}	
	.subtitle{
		padding-bottom: 1.2em;
		padding-top: 0.6em;
		font-family: monospace;
		font-size: 1.5rem;
		margin: 0;
	}
	.propic-change{
		min-width: 150px;
		max-width: 190px;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.title{
		padding-top: 0.8em;
		font-size: 4rem;
		margin: 0;
	}	
	.subtitle{
		padding-bottom: 1.6em;
		padding-top: 0.8em;
		font-family: monospace;
		font-size: 2rem;
		margin: 0;
	}
	.propic-change{
		max-width: 190px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.title{
		padding-top: 1em;
		font-size: 5rem;
		margin: 0;
	}	
	.subtitle{
		padding-bottom: 2em;
		padding-top: 1em;
		font-family: monospace;
		font-size: 2.5rem;
		margin: 0;
	}
	.propic-change{
		max-width: 260px;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.title{
		padding-top: 1em;
		font-size: 5rem;
		margin: 0;
	}
	.subtitle{
		padding-bottom: 2em;
		padding-top: 1em;
		font-family: monospace;
		font-size: 2.5rem;
		margin: 0;
	}	
	.propic-change{
		max-width: 260px;
	}
}

/* Media query speciale per la foto   */
@media (min-width: 1120px) {				
	.title{
		padding-top: 1em;
		font-size: 5rem;
		margin: 0;
	}
	.subtitle{
		padding-bottom: 2em;
		padding-top: 1em;
		font-family: monospace;
		font-size: 2.5rem;
		margin: 0;
	}
	.propic-change{
		max-width: 260px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.title{
		padding-top: 1em;
		font-size: 5rem;
		margin: 0;
		
	}
	.subtitle{
		padding-bottom: 2em;
		padding-top: 1em;
		font-family: monospace;
		font-size: 2.5rem;
		margin: 0;
	}
	.propic-change{
		max-width: 260px;
	}
}